.aboutContainer {
  max-width: 800px;
  margin: 20px auto 40px;
  padding: 20px;
}

.aboutContainer h2 {
  font-size: 24px;
  color: red;
  margin-bottom: 10px;
}

.aboutContainer p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

.aboutContainer h3 {
  font-size: 20px;
  color: red;
  margin-top: 20px;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .aboutContainer {
    padding: 10px;
  }

  .aboutContainer h2 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .aboutContainer p {
    font-size: 14px;
    line-height: 1.4;
    margin: 0px 10px;
  }

  .aboutContainer h3 {
    font-size: 18px;
    margin-top: 16px;
  }
}
