header {
  background-color: #3997ef;
  color: #fff;
  display: flex;
  align-items: center;
}
.headercontent {
  display: flex;
  flex-direction: column;
  margin-left: 240px;
}
.logo {
  cursor: pointer;
  margin-left: 20px;
}
.uniName {
  font-size: 38px;
  text-shadow: 2px 3px 5px #393939;
  letter-spacing: 0.8px;
}
nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

nav a:hover {
  color: #c4def2;
  transition: linear 0.3s;
}
nav a.active {
  border-bottom: 2px solid #c4def2;
  color: #c4def2;
}

/* Define a class to hide the header when printing */
@media print {
  .header {
    display: none;
  }
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .headercontent {
    margin-left: 0px;
  }

  nav ul {
    flex-direction: column;
    margin-top: 12px;
  }

  nav li {
    margin: 5px;
  }

  .logo img {
    width: 90px;
    height: 90px;
    margin-right: 15px;
  }

  .uniName {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: -8px;
  }

  nav a {
    font-size: 14px;
  }
}
